.mainmenu {
  height: 170px;
  width: 400px;
}

.suvincard {
  transition: transform 0.2s;
  background-color: #45313c;
}

.suvincard:hover {
  cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}
