.orderchamodi1{
    text-align: left;
    color: white;
  }
  
  .sawrap1{
    display: flex;
    flex-wrap: wrap;
  }
  .CScard1{
    margin-bottom:20px ;
    background-color: rgb(49, 48, 46);
  }
  
  
  
  
  
  